:root {
  --text: #ebeaed;
  --background: #06060a;
  --primary: #a7a0d6;
  --secondary: #312584;
  --accent: #5b47e2;
}

html {
  background-color: var(--background);
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}
